form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .datos {
        margin: 10px;
        width: 800px;
        padding: 10px;
        border: solid 1;
        background-color: blanchedalmond;
        height: auto;
    
    }

    .imgContacto {
        width: 800px;
        height: 600px;
        align-items: center;
    
    }

}