footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(158, 154, 154);
    align-items: center;

    .menuFooter {

        display: flex;
        flex-direction: column;
        text-align: left;
        list-style-type: none;
    
        iframe {
            margin: 20px;
            border-radius: 20px;
            padding: 5px;
        }
    
    }



}
