$black: blue;

.cajaStock {

    background-color: rgb(13, 199, 28);
    font-size: large;
    font-family: Verdana,  Tahoma, sans-serif;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    line-height: 1;
    margin-bottom: 1.5em;
    padding: 5px 6px;
    position: relative;

    

}

.precio{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;  
    vertical-align: 50px;
    

}

