* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
}

.cajaStock {
  background-color: #0dc71c;
  font-size: large;
  font-family: Verdana, Tahoma, sans-serif;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  line-height: 1;
  margin-bottom: 1.5em;
  padding: 5px 6px;
  position: relative;
}

.precio {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: 50px;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  display: flex;
  border: solid 1px;
  width: 400px;
  height: 500px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
  margin: 20px;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  border: solid 1px;
  width: 400px;
  height: 500px;
  box-shadow: 5px 5px 20 px rgba(0, 0, 0, 0.4);
  transform: translateY(3%);
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  border-color: red;
}

.cardImg {
  height: 80%;
  width: 100%;
}

.medidaImg {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.nosotros {
  padding: 20px 80px 450px 80px;
  text-align: center;
  color: black;
  font-size: x-large;
}

#bodyteam {
  background-color: black;
}

.name {
  background: #ccc;
  background: linear-gradient(#080808, white);
  font-family: system-ui;
  font-size: 2rem;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.padre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 10px;
  justify-items: center;
  align-items: center;
  grid-template-areas: "foto1 foto2" "foto3 foto4";
}
.padre .foto1 {
  grid-area: foto1;
  background-color: white;
  display: flex;
  width: 400px;
  height: 600px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
}
.padre .foto2 {
  grid-area: foto2;
  background-color: white;
  display: flex;
  width: 400px;
  height: 600px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
}
.padre .foto3 {
  grid-area: foto3;
  background-color: white;
  display: flex;
  width: 400px;
  height: 600px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
}
.padre .foto4 {
  grid-area: foto4;
  background-color: white;
  display: flex;
  width: 400px;
  height: 600px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
}

.portadaZero {
  width: 100%;
  height: 100vh;
}

@media only screen and (max-width: 425px) {
  nav {
    background-color: black;
  }

  .padre {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    grid-template-areas: "foto1" "foto2" "foto3" "foto4";
  }
}
@media only screen and (min-width: 426px) {
  nav {
    background-color: black;
  }

  .padre {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    grid-template-areas: "foto1" "foto2" "foto3" "foto4";
  }
}
@media only screen and (min-width: 781px) {
  nav {
    background-color: black;
  }

  .padre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 10px;
    justify-items: center;
    align-items: center;
    grid-template-areas: "foto1 foto2" "foto3 foto4";
  }
}/*# sourceMappingURL=estilos.css.map */