

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*HEADER*/

.headerNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navegacion{
    display: flex;
    list-style-type: none;
    
}

.navegacion li{
    margin: 40px;
    padding: 20px;
    border: solid 1px;
    border-radius: 20px;  
    background-color: white; 
   
}

.navegacion li:hover{
    margin: 40px;
    padding: 20px;
    border: solid 1px;
    border-radius: 20px;
    background-color: darkgray;
}

.cajaLogo{
    width: 100px;
    height: auto;
}

.imgMedida{
    width: 100%;
    border-radius: 40px;
}


/*PRODCUTOS*/

.card{
    display: flex;
    border:solid 1px;
    width: 400px;
    height: 500px;

    background-color: rgb(255, 255, 255);

    margin: 20px 0;

    flex-direction: column;
    align-items: center;


}

.card:hover{
    border:solid 1px;
    width: 400px;
    height: 500px;

   box-decoration-break: 10px 15px clone; color: tomato;


}

.cardImg{
    height: 80%;
    width: 100%;
}

.medidaImg{
    width: 100%;
    height: 100%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around

}


/*TEAM GRID*/

.padre{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "foto1 foto2"
    "foto3 foto4"

    ;
    border: solid black;
    background-color: gray;
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.foto1{
    grid-area: foto1;
    background-color: blue;
    border: 5px solid black;
    color: white;
    display: flex;
    width: 400px;
    height: 500px;
    margin: 20px 0;
    flex-direction: column;
    align-items: center;

}

.foto2{
    grid-area: foto2;
    background-color: rgb(104, 42, 104);
    border: 5px solid black;
    color: white;
    display: flex;
    width: 400px;
    height: 500px;
    margin: 20px 0;
    flex-direction: column;
    align-items: center;

}

.foto3{
    grid-area: foto3;
    background-color: rgb(23, 70, 19);
    border: 5px solid black;
    color: white;
    display: flex;
    width: 400px;
    height: 500px;
    margin: 20px 0;
    flex-direction: column;
    align-items: center;

}

.foto4{
    grid-area: foto4;
    background-color: rgb(150, 16, 16);
    border: 5px solid black;
    color: white;
    display: flex;
    width: 400px;
    height: 500px;
    margin: 20px 0;
    flex-direction: column;
    align-items: center;

}



/*TEAM FLEX

.cardTeam{
    display: flex;
    border:solid 1px;
    width: 300px;
    height: 400px;

    background-color: rgb(255, 255, 255);

    margin: 20px 0;

    flex-direction: column;
    align-items: center;


}

.cardTeam:hover{
    border:solid 1px;
    width: 300px;
    height: 400px;

   box-decoration-break: 10px 15px clone; color: tomato;


}

.cardImgTeam{
    height: 80%;
    width: 100%;
}

.medidaImgTeam{
    width: 100%;
    height: 100%;
}

.containerTeam{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

.tituloTeam{
    text-align: center;
    font-style: oblique;
}*/





.imgInicio{
    display: flex;
    justify-content: space-around;
}


h1{
    padding: 20px 10px 20px 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-style: oblique;
}


body{
    background-color: rgb(255, 255, 255);
}

.otrosTitulos{
    color: rgb(255, 255, 255);
}

/*FOOTER*/

footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(158, 154, 154);
    align-items: center;
    

   
}

.menuFooter{

    display: flex;
    flex-direction: column;
    text-align: left;
    list-style-type: none;

}

iframe{
    margin: 20px;
    border-radius: 20px;
    padding: 5px;
}

/*CONTACTO*/

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.imgContacto{
    width: 800px;
    height: 600px;
    align-items: center;

}

.datos{
    margin: 10px;
    width: 800px;
    padding: 10px;
    border: solid 1;
    background-color: blanchedalmond;
    height: auto;
    
}

#probarBorde{
    padding: 40;
    margin: 80px 40px 80px 40px;
    border: 20px solid crimson;
    color: white;
}

@media only screen and (max-width: 425px){
    nav{
        background-color: rgb(150, 10, 10);
    }

    .padre{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
        grid-template-areas: 
        "foto1"
        "foto2"
        "foto3"
        "foto4"

        ;
    }
}
    
@media only screen and (min-width: 426px){
    nav{
        background-color: rgb(2, 70, 38);
    }

    .padre{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
        grid-template-areas: 
        "foto1"
        "foto2"
        "foto3"
        "foto4"

        ;
    }
}
    
@media only screen and (min-width: 781px){
    nav{
        background-color: rgb(7, 7, 7);
    }

    .padre{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "foto1 foto2"
        "foto3 foto4"
        
        

        ;
    }
}



